# .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
.vs/
*.csproj.user
backend/Api/logs/

# Node / React
node_modules/
client/dist/
client/build/
client/.next/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
*.env
*.env.local
.env.production

# Docker
.dockerignore

# Other
deploy/publish/